.pocker{
    height: 146px;
    width: 96px;
    background:url(../image/freecell.png) no-repeat;
}

@mixin pockerStyle($classname) {
    @for $i from 1 through 13{
       .pocker-#{$classname}-#{$i}{
        @if $classname=='spade'{ background-position:(-28px +-107px* (13-$i)) -22px;}
        @else if $classname=='heart'{ background-position:(-28px +-107px* (13-$i)) -180px;}
        @else if $classname=='diamond'{ background-position:(-28px +-107px* (13-$i)) -339px;}
        @else if $classname=='club'{ background-position:(-28px +-107px* (13-$i)) -496px;}
            border-radius: 5px;
            position: relative;
        }
    }    
}

#pockerArea{
    @include pockerStyle('spade');
    @include pockerStyle('heart');
    @include pockerStyle('diamond');
    @include pockerStyle('club');
}
// .pocker-spade-13{
//     background-position: -91px -20px;
// }
// .pocker-spade-12{
//     background-position: -188px -20px;
// }
// .pocker-spade-11{
//     background-position: -285px -20px;
// }